<button type="back" onclick={{action "back"}}>
  Back
</button>

<button
  data-test="email-delete"
  type="button"
  onclick={{action "deleteEmail" model}}
>
  Delete
</button>
<ul>
  <li data-test="email-id">{{model.id}}</li>
  <li data-test="email-from">
    {{model.from}}
  </li>
  <li data-test="email-to">
    {{model.to}}
  </li>
  <li data-test="email-subject">
    {{model.subject}}
  </li>
  <li data-test="email-message">
    {{model.message}}
  </li>
</ul>
