
<h2>Starred Emails:</h2>
<ul >
  {{#each model as |email|}}
    {{#if email.starred}}
      <DisplayEmail data-test="starred-email" @email = {{email}}/>
    {{else}}
    {{/if}}
  {{/each}}
</ul>

<h2>All Emails:</h2>
<ul>
  {{#each model as |email|}}
    {{#if email.starred}}
    {{else}}
      <DisplayEmail data-test="unstarred-email" @email = {{email}}/>
    {{/if}}
  {{/each}}
</ul>

{{outlet}}
